@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

.font-p {
    font-size: 18px;
}

.two-font-weight {
    font-weight: 200;
}

#logo {
    font-size: 50px;
    margin: 40px 0;
}

.new-section {
    margin-top: 50px;
}

.image-div {
    background-color: pink;
    height: auto;
}

.event-date {
    height: 120px;
    background-color: #9592BF;
    border-radius: 30px;
}

#address-link {
    text-decoration: none;
    color:#000;
}

#address-link:hover {
    text-decoration: underline;
}

.color-background {
    padding: 10px 0;
    border-radius: 25px;
    background-color: #A3B6C8;
    font-style: italic;
}

.break-mold {
    margin: 80px 0 50px 0;
    font-size: 40px;
}

#break-text {
    color: #585693;
    font-weight: 700;
}

#build-text {
    color: #40a7b4;
    font-weight: 700;
}

#inspire-text {
    color: #7995ae;
    font-weight: 700;
}

.get-involved {
    background-color: #68BDCA;
    border-radius: 30px;
    font-weight: 500;
}

.form-background {
    background-color: rgb(255,255,255,0.5);
    padding: 25px 10px;
    border-radius: 15px;
}

.form-control:focus {
    border-color: #68BDCA;
}

.form-check-input {
    background-image: none;
}

.form-check-input:checked {
    background-color: #585693;
    border-color: #585693;
}

.form-check-input[type=radio]{
    border-radius: 20%;
}

.form-check-input:focus {
    border-color: #9592BF;
    box-shadow: none;
}

#message {
    /* height: 80px; */
    resize: none;
    overflow: auto;
}

.submit-btn {
    background-color: #9592BF;
    border-color: #585693;
    border-width: 1px;
    border-radius: 10px;
}

.submit-btn:hover {
    border-width: 1px;
    background-color: #fff;
    border-color: #68BDCA;
}


textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.375rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.375rem;
  border: 1px solid #f1f1f1;
}